Create database site_db
USE [site_db]
GO
/****** Object:  Table [dbo].[Kategori]    Script Date: 16.5.2019 22:44:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kategori](
	[kategori_id] [int] IDENTITY(1,1) NOT NULL,
	[kategori_adi] [nvarchar](150) NULL,
 CONSTRAINT [PK_Kategori] PRIMARY KEY CLUSTERED 
(
	[kategori_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Yazarlar]    Script Date: 16.5.2019 22:44:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Yazarlar](
	[yazar_id] [int] IDENTITY(1,1) NOT NULL,
	[yazar_adi_soyadi] [nvarchar](300) NULL,
	[mail] [nvarchar](150) NULL,
	[sifre] [int] NULL,
 CONSTRAINT [PK_Yazarlar] PRIMARY KEY CLUSTERED 
(
	[yazar_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Yazilar]    Script Date: 16.5.2019 22:44:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Yazilar](
	[yazi_id] [int] IDENTITY(1,1) NOT NULL,
	[baslik] [nvarchar](200) NULL,
	[tarih] [datetime2](7) NULL,
	[metin] [text] NULL,
	[kategori_id] [int] NULL,
	[yazar_id] [int] NULL,
	[ozet] [text] NULL,
	[fotograf] [nvarchar](500) NULL,
 CONSTRAINT [PK_Yazilar] PRIMARY KEY CLUSTERED 
(
	[yazi_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Kategori] ON 

INSERT [dbo].[Kategori] ([kategori_id], [kategori_adi]) VALUES (1, N'elektronik')
INSERT [dbo].[Kategori] ([kategori_id], [kategori_adi]) VALUES (2, N'enerji')
INSERT [dbo].[Kategori] ([kategori_id], [kategori_adi]) VALUES (3, N'bilim')
SET IDENTITY_INSERT [dbo].[Kategori] OFF
SET IDENTITY_INSERT [dbo].[Yazarlar] ON 

INSERT [dbo].[Yazarlar] ([yazar_id], [yazar_adi_soyadi], [mail], [sifre]) VALUES (1, N'esma coşkun', N'esma@gmail.com', 1234)
INSERT [dbo].[Yazarlar] ([yazar_id], [yazar_adi_soyadi], [mail], [sifre]) VALUES (2, N'esma', N'esma@gmail.com', 123)
INSERT [dbo].[Yazarlar] ([yazar_id], [yazar_adi_soyadi], [mail], [sifre]) VALUES (3, N'erdem', N'erdem@gmail.com', 123)
SET IDENTITY_INSERT [dbo].[Yazarlar] OFF
SET IDENTITY_INSERT [dbo].[Yazilar] ON 

SET IDENTITY_INSERT [dbo].[Yazilar] OFF
ALTER TABLE [dbo].[Yazilar]  WITH CHECK ADD  CONSTRAINT [FK_Yazilar_Kategori] FOREIGN KEY([kategori_id])
REFERENCES [dbo].[Kategori] ([kategori_id])
GO
ALTER TABLE [dbo].[Yazilar] CHECK CONSTRAINT [FK_Yazilar_Kategori]
GO
ALTER TABLE [dbo].[Yazilar]  WITH CHECK ADD  CONSTRAINT [FK_Yazilar_Yazarlar] FOREIGN KEY([yazar_id])
REFERENCES [dbo].[Yazarlar] ([yazar_id])
GO
ALTER TABLE [dbo].[Yazilar] CHECK CONSTRAINT [FK_Yazilar_Yazarlar]
GO
