<footer>

    <div class="navbar-fixed-bottom" style="text-align:center; color:#222; font-family: Lato, Arial, sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 700;background-color:#fff">Copyright © 2019 - Tüm hakları saklıdır.</div>
</footer>
