@model WebApplication1.Models.YazilarViewModels
@{
    ViewBag.Title = "Enerji";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align:center;color:#222;font-family: Lato, Arial, sans-serif;">Enerji Kategorisindeki Yazılar</h2>
<div class="wrapper" style="background-color:white;height:auto;width:100%">


    <div class="container">

        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 _11">

        </div>

        <div class="row">
            @foreach (var item in Model.YaziListesi)
            {
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12">

                    <div class="col-sm-12 col-md-12">
                        <div class="thumbnail">
                            <img src="/@item.fotograf" alt="...">
                            <div class="caption">
                                <h3>@item.baslik</h3>
                                <p>@item.ozet</p>
                                <p><a href='/yazilar/YaziDetail/@item.yazi_id' class="btn btn-primary" role="button">Devamını Görüntüle</a> </p>
                            </div>
                        </div>
                    </div>

                </div>
            }


        </div>

    </div>

</div>