
@{
    ViewBag.Title = "Bize Ulaşın";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row"style="background-color:white;height:auto;width:100%" >

<br /><br />
<div class="col-xl-12 col-md-12 col-lg-12 col-xs-12 col-md-12 ">

    <div class="row">

        <div class="col-xl-4 col-md-4 col-lg-4 col-xs-12 col-md-12 ">
            <br />
            <br />

            <div class="col-sm-12 col-md-12" style="width:100%;height:40%">
                <div class="thumbnail">
                    <img src="~/Content/images/iletisim-banner.png" />
                    <div class="caption">
                        <h3><b>Yazı İşleri Müdürlüğü</b></h3><br />
                        <p> 0312 298 95 24</p>
                        <p>E-Posta: bteknik@tubitak.gov.tr</p><br />
                    </div>
                </div>
            </div>


        </div>

        <div class="col-xl-4 col-md-4 col-lg-4 col-xs-12 col-md-12 ">


            <br />
            <br />
            <div class="col-sm-12 col-md-12" style="width:100%;float:left;height:40%">
                <div class="thumbnail">
                    <img src="~/Content/images/iletisim-banner.png" />
                    <div class="caption">
                        <h3><b>Bize Ulaşın</b></h3><br />
                        <p>Akay Caddesi No: 6 06420 Bakanlıklar / ANKARA</p><br />
                        <br />
                    </div>
                </div>
            </div>

        </div>

        <div class="col-xl-4 col-md-4 col-lg-4 col-xs-12 col-md-12 ">

            <br />
            <br />
            <div class="col-sm-12 col-md-12" style="width:100%;height:40%;float:left">
                <div class="thumbnail">
                    <img src="~/Content/images/iletisim-banner.png" />
                    <div class="caption">
                        <h3><b>Satış-Abone-Dağıtım</b></h3><br />
                        <p>0312 222 83 99</p>
                        <p>0312 221 18 60</p>
                        <p>E-Posta: abone@tubitak.gov.tr</p>

                    </div>
                </div>
            </div>

        </div>

    </div>
    </div>
</div>