@model Yazilar
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="wrapper" style="background-color:white;height:auto;width:100%">


    <div class="container">


        <div class="row">
            
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12"style="height:auto;width:80%">

                    <div class="col-sm-12 col-md-12" style="height:auto;width:90%;margin-left:20%">
                        
                            <img src="/@Model.fotograf" alt="..."style="height:auto;width:80%">
                            <div class="caption">
                                <h3>@Model.baslik</h3>
                                <br />
                                <p>@Model.metin</p><br />
                                <p>Yazar id:@Model.yazar_id</p>
                                <p>Yazılan Tarih:@Model.tarih</p>
                                <br /><br />
                            </div>
                        </div>
                    </div>
            <br /><br />
                </div>
            


        </div>

    </div>



